
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/Content/materialize.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/materialize.css" />
    <link href="~/Content/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/Content/Custom.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <nav class="#2e7d32 green darken-3 navbar-fixed-top" role="navigation" style="margin-top: 1px;">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo"><img src="~/Content/Images/logo.png" style="line-height: normal; height:55px;" /></a>



            <ul class="right hide-on-med-and-down">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "text white-text" })</li>
                <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "text white-text" })</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "text white-text" })</li>
                <li>@Html.ActionLink("Products", "ProductList", "Home", new { area = "" }, new { @class = "text white-text" })</li>
                <li style="margin-left:400px;">   <span class="badge badge-notify">5</span>   <a href="#"><i class="material-icons white-text">shopping_cart</i></a>  </li>







            </ul>

            <ul id="nav-mobile" class="sidenav text">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "text white-text" })</li>
                <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "text white-text" })</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "text white-text" })</li>
                <li>@Html.ActionLink("Products", "ProductList", "Home", new { area = "" }, new { @class = "text white-text" })</li>
                <li>   <a href="#"><i class="material-icons white">shopping_cart</i> <span class="badge">1</span></a></li>

            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger white-text"><i class="material-icons">menu</i></a>
        </div>
    </nav>



    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>


    <hr />

    @*<footer class="page-footer teal">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Topan Marketing Corp.</h5>
                        <p class="grey-text text-lighten-4"> is dedicated to provide high quality formwork construction materials, different kinds of plywood and fiber-cement board since 1989</p>


                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Topan Marketing Corp</a>
                </div>
            </div>
        </footer>*@


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/materialize.js"></script>
    <script src="~/Scripts/init.js"></script>


</body>
</html>
