@model IEnumerable<OMS.Core.Entities.Product>




<h2>Products</h2>



<table class="responsive-table highlight">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            <p>Quantity</p>
        </th>
      

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>

        <td>
            <div class="input-field col s2">
                <button class=" btn waves-effect waves-light">-</button>  <input type="text" value="1" min="1" max="100" style="width:50px;text-align:center; " />  <button class="btn waves-effect waves-light">+</button>
            </div>
        </td>
       




        <td>
            <a href="#"  class="btn waves-effect waves-light">Add to Order</a>
        </td>
    </tr>
    }   

</table>

<br>

<span style="margin-left:500px"><p> Total:  2000.00 hard coded </p></span>
